<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <form action="/ExamenDos/controllers/login_controller.php/" method="get">
        <input type="text" name="user_name" placeholder="Full name">
        <br/>
        <br/>
        <input type="email" name="user_email" placeholder="User email">
        <br/>
        <br/>
        <input type="password" name="user_password" placeholder="User password">
        <br/>
        <br/>
        <input type="submit" value="Register">
        <a href="https://"></a>
    </form>
</body>
</html>